/node_modules
/public/hot
/public/storage
/public/upload
/storage/*.key
/vendor
/data
/.idea
/.vscode
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/logs
/access.log
.idea/workspace.xml
.env
/public/upload
/public/uploads
.vscode
composer.lock
